html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 15px;
}

:root {
    
}

* {
    box-sizing: border-box;
}

.ui-temp {
    box-sizing: border-box;
    border: 1px solid red;
}

.settings-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgba(0 ,0 ,0 ,.25);
}

.settings-button > .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32px;
    height: 24px;
}

.settings-button > .icon > .bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}

.settings-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 2;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 600px;
    padding: 10px;
    background-color: #252525;
    color: white;
    border-radius: 15px;
}

.settings .menu-title {
    font-size: 22px;
    font-weight: bold;
}

.setting {
    padding: 10px;
    border: 1px solid #353535;
    border-radius: 6px;
}

.ui-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    color: white;
}

.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 5px;
    padding: 5px 30px 5px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(0,0,0,.25);
}

.status-bar > .widget {
    padding: 10px;
    background-color: rgba(0,0,0,.25);
    border-radius: 6px;
}

.control-pad-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-pad-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
}

.control-pad {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(0 ,0 ,0 ,.25);
}

.joystick {
    position: relative;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 2;
    border-radius: 50%;
}

.scene-view {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}